<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        body{
            background-color: black;
            color: white;
        }
      #loadingScreen {
        position: fixed;
        inset: 0;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        z-index: 9999;
        backdrop-filter: blur(4px);
      }
    </style>
  </head>
  <body>
    <div id="loadingScreen" style="display: none">
      <h2>Loading...</h2>
    </div>
  </body>
</html>
